<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/loginerror.css" type="text/css">

</head>
<body>
    <div class="container">
        <img src="/images/oops.png" alt="oops picture">
        <h2>Oops it seems you have entered wrong credentials</h2>
        <p>Please recheck your ceredentials</p>
        <a class="loginbtn"href="/login">GO BACK</a>
    </div>
   
</body>
</html>
