<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
    <div class="container">
        <div class="block1">
            <h3 class="login-header">Login</h3>
            <h3>Still new here? <a href="/register">Create new account</a></h3>

            <% if (messages.error){ %>
                <%= messages.error%>
            <% } %>
            <form action="/login" method="POST">
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
        
    </div>
   
</body>
</html>
