<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
    <div class="container">
        <div>
            <h3>Start by creating a free account!</h3>
            <h3>Already have one? <a href="/login">Log in</a> here</h3>
            
            <form action="/register" method="POST">
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text"  name="firstName" required>
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div>
                    <label for="gaurdianEmail">Gaurdian's Email</label>
                    <input type="email" name="gEmail">
                </div>
                <button type="submit">Register</button>
                
                
            </form>

            <img class="sign-up-pic"src="../images/sign_up page character.png" alt="sign_up picture">
        </div>
        
    </div>
    


</body>
</html>