<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">

</head>
<body>
    <div class="container">
        <div class="block1">
            <h3 class="login-header">Start by creating a <b>free</b> account!</h3>
            <h3 class="login-header2">Already have one? <a class="loginlink"href="/login">Log in</a> here</h3>
            
            <form action="/register" method="POST">
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text"  name="firstName" required>
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>
                <div>
                    <label for="guardianEmail">Guardian's Email</label>
                    <input type="email" name="gEmail">
                </div>
                <div class="submitbtn">
                    <button class="submit1 submit" type="submit">CREATE ACCOUNT</button>
                </div>
                
                
            </form>
            
            <img class="sign-up-pic"src="../images/sign_up page character.png" alt="sign_up picture">
        </div>
        
    </div>
    


</body>
</html>